 @import url(https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98);

        body {
        width: 595pt;
        /* A4 width is 595 points (or 8.27 inches) */
        margin: 2cm;
        /* Center the content horizontally */
        }

        ol {
            margin: 0;
            padding: 0;
        }

        table td,
        table th {
            padding: 0;
        }

        .doc-content {
            background-color: #ffffff;
            max-width: 425.2pt;
            padding: 70.8pt 85pt 70.8pt 85pt;
        }

        .c8 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #000000;
            border-top-width: 2.2pt;
            border-right-width: 2.2pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 2.2pt;
            border-top-style: solid;
            background-color: #f7cbac;
            border-left-style: solid;
            border-bottom-width: 2.2pt;
            width: 203.9pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c20 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #999999;
            border-top-width: 2.2pt;
            border-right-width: 2.2pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 2.2pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 1pt;
            width: 218.9pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c13 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #000000;
            border-top-width: 1pt;
            border-right-width: 2.2pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 2.2pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 2.2pt;
            width: 422.9pt;
            border-top-color: #999999;
            border-bottom-style: solid
        }

        .c14 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #000000;
            border-top-width: 2.2pt;
            border-right-width: 2.2pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 2.2pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 2.2pt;
            width: 422.9pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c9 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #000000;
            border-top-width: 2.2pt;
            border-right-width: 2.2pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 2.2pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 2.2pt;
            width: 203.9pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c6 {
            border-right-style: solid;
            padding: 0pt 5.4pt 0pt 5.4pt;
            border-bottom-color: #000000;
            border-top-width: 2.2pt;
            border-right-width: 2.2pt;
            border-left-color: #000000;
            vertical-align: top;
            border-right-color: #000000;
            border-left-width: 2.2pt;
            border-top-style: solid;
            border-left-style: solid;
            border-bottom-width: 2.2pt;
            width: 218.9pt;
            border-top-color: #000000;
            border-bottom-style: solid
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c3 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 10pt;
            font-family: "Calibri";
            font-style: italic
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c12 {
            padding-top: 0pt;
            padding-bottom: 8pt;
            line-height: 1.0791666666666666;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c1 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Calibri";
            font-style: normal
        }

        .c22 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Arial";
            font-style: normal
        }

        .c19 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: justify
        }

        .c4 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c11 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: center
        }

        .c7 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: left;
            height: 11pt
        }

        .c21 {
            border-spacing: 0;
            border-collapse: collapse;
            margin-right: 0 auto;
        }

        .c18 {
            width: 595pt;
            /* A4 width is 595 points (or 8.27 inches) */
            margin: 0 auto;
            background-color: #ffffff;
            max-width: 425.2pt;
            padding: 70.8pt 85pt 70.8pt 85pt
        }

        .c10 {
            background-color: #e7e6e6
        }

        .c5 {
            height: 0pt
        }

        .c16 {
            height: 11pt
        }

        .c17 {
            height: 36.6pt
        }

        .c15 {
            height: 32.4pt
        }

        .title {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 36pt;
            padding-bottom: 6pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 18pt;
            color: #666666;
            font-size: 24pt;
            padding-bottom: 4pt;
            font-family: "Georgia";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Calibri"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Calibri"
        }

        h1 {
            padding-top: 24pt;
            color: #000000;
            font-weight: 700;
            font-size: 24pt;
            padding-bottom: 6pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-weight: 700;
            font-size: 18pt;
            padding-bottom: 4pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 14pt;
            color: #000000;
            font-weight: 700;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 12pt;
            color: #000000;
            font-weight: 700;
            font-size: 12pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 11pt;
            color: #000000;
            font-weight: 700;
            font-size: 11pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 10pt;
            color: #000000;
            font-weight: 700;
            font-size: 10pt;
            padding-bottom: 2pt;
            font-family: "Calibri";
            line-height: 1.0791666666666666;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        #myCheckboxClaim {
            width: 20px;
            height: 20px;
            margin-right: 20px;
            border: 2px solid #333;
            cursor: pointer;
        }
        #myCheckboxClaim:checked::before {
            content: normal;
            display: block;
            width: 100%;
            height: 100%;
            background-color: #333333;
        }

        #myCheckboxComplain{
            width: 20px;
            height: 20px;
            margin-right: 20px;
            border: 2px solid #333;
            cursor: pointer;
        }
        #myCheckboxComplain:checked::before {
            content: normal;
            display: block;
            width: 100%;
            height: 100%;
            background-color: #333333;
        }
        #myCheckboxCharges{
            width: 20px;
            height: 20px;
            margin-right: 20px;
            border: 2px solid #333;
            cursor: pointer;

        }
        #myCheckboxCharges:checked::before {
            content: normal;
            display: block;
            width: 100%;
            height: 100%;
            background-color: #333333;
        }